.main-content {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12%;

}
h3 {
    font-family: play;
    font-size: 3em;
    color: floralwhite;
}

.sidebar-left {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #292c2f;
    height: 100%;
    width: 15%;
    padding: 20px 0;
}

.sidebar-left a.company-logo {
    display: block;
    text-decoration: none;
    font-family: Cookie, cursive;
    width: 76px;
    height: 76px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    font-weight: normal;
    line-height: 2.6;
    border-radius: 50%;
    background-color: #181a1b;
    margin-bottom: 2em;
}

.sidebar-left .sidebar-links {
    margin: 20px auto;
}

.sidebar-left .sidebar-links a {
    display: block;
    text-decoration: none;
    margin: 0 auto 5px auto;
    padding: 20px 0;
    background-color: #35393e;
    text-align: center;
    color: #b3bcc5;
    font-size: 12px;
    font-weight: bold;
    border-left-width: 2px;
    border-left-style: solid;
}

.sidebar-left .sidebar-links a i.fa {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}

.sidebar-left .sidebar-links a.selected {
    background-color: #ffffff;
    color: #7c8085;
    font-size: 12px;
    font-weight: bold;
    cursor: default;
}

.sidebar-left .sidebar-links a.link-blue {
    border-color: #487db2;
}

.sidebar-left .sidebar-links a.link-blue i.fa {
    color: #487db2;
}

.sidebar-left .sidebar-links a.link-red {
    border-color: #da4545;
}

.sidebar-left .sidebar-links a.link-red i.fa {
    color: #da4545;
}

.sidebar-left .sidebar-links a.link-cyan {
    border-color: #00FFFF;
}

.sidebar-left .sidebar-links a.link-cyan i.fa {
    color: #00FFFF;
}

.sidebar-left .sidebar-links a.link-yellow {
    border-color: #d0d237;
}

.sidebar-left .sidebar-links a.link-yellow i.fa {
    color: #d0d237;
}

.sidebar-left .sidebar-links a.link-green {
    border-color: #86be2e;
}

.sidebar-left .sidebar-links a.link-green i.fa {
    color: #86be2e;
}

.sidebar-left .sidebar-links a.link-orange {
    border-color: #FFA600;
}

.sidebar-left .sidebar-links a.link-orange i.fa {
    color: #FFA600;
}

@media (max-width: 900px) {

    .main-content {
        max-width: none;
      margin: 0 auto !important;

    }

    .sidebar-left {
        width: auto;
        height: auto;
        position: inherit;
        padding: 20/px 0 0;
    }

    .sidebar-left .sidebar-links {
        text-align: center;
        margin: 20px auto 0;
    }

    .sidebar-left .sidebar-links a {
        display: inline-block;
        width: 100px;
        margin: 0;
        padding: 14px 0;
        border-left: none;
        border-top-width: 2px;
        border-top-style: solid;
    }
#skillset {
        max-width:450px;
    }
}


@media (max-width: 450px) {

    .sidebar-left {
        padding: 20px 0;
    }

    .sidebar-left .sidebar-links {
        text-align: center;
        margin: 20px auto 0;
    }

    .sidebar-left .sidebar-links a {
        display: block;
        max-width: 240px;
        width: auto;
        vertical-align: middle;
        text-align: left;
        margin: 0 auto 5px;
        padding: 10px 25px;
        border-top: none;
        border-left-width: 2px;
        border-left-style: solid;
    }

    .sidebar-left .sidebar-links a i.fa {
        display: inline-block;
        font-size: 20px;
        width: 20px;
        margin: 0 20px 0 0;
        vertical-align: middle;
    }
    .main-content {
        margin: 0 auto !important;
    }
    #skillset {
        max-width:450px;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: floralwhite;
}

.box {
    background-color: dimgray;
    height: 30em;
    margin: 0;
    height: 100vh;
}

#navAbout {
    
    background-image: url(about.png);
    background-size: contain;
    
}

#navTools {
background-color:burlywood;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}

h1 {
    font-size: 80px;
    ;
    padding-left: 60px;
    font-family: 'Lobster', cursive;
    color: floralwhite;
}

h2 {
    padding-left: 60px;
    max-width: 900px;
    font-size: 50px;
    margin: 0 auto;
    font-family: 'Play', sans-serif;
    color: floralwhite;
}

.heading {
    margin-top: 0,5em;
    margin-bottom: 1em;
}
.icons {
}

#hello {
    margin-top: 2.5em;
    margin-bottom: 0,5em;
    font-family: play;
    font-size: 5em;
}
#skillset {
    max-width: 75%;
    max-height: 75%;
}

#navUx {
    background-color:darkseagreen
}
.wrap1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    margin-left: 6%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* repeat = as many times as you can fit */
  /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
  /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
  grid-gap: 10px;
}

.letter {
  background-color: #0069b3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 70px;
  color: white;
  line-height: 1;
  font-family: 'hobeaux-rococeaux-background', Helvetica;
  font-weight: 200;
  cursor: pointer;
  transition: all .3s ease;
}
.wrap2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* repeat = as many times as you can fit */
  /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
  /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
  grid-gap: 10px;
    margin-left: 10%;
    
 
  }

.wrap3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* repeat = as many times as you can fit */
  /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
  /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
  grid-gap: 10px;
    margin-left: 13%;
  }


.uxicon {
    height: 75%;
    width: 75%;
}
.uxText {
    display: inline;
    margin: 0 auto;
    padding: 0;
    margin-left: 13%;
}

.uxicon {
    border-radius: 30px;
}

#navDesign {
    background-color:cadetblue;
}

.desText {
    margin-right: 25%;
}

#navCode {
    background-color: black;
}
#navContact {
    background-color: crimson;
} 